@import 'bourbon';
@import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome';
@import 'foundation';
$text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
$box-shadow: 1px 1px 1px 1px #22252B;
$order-color: rgba(176, 176, 176, .5);

.body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab';
}
ul
 {
   box-shadow: $box-shadow
 }

li
 {
   list-style: none;
 }

.outer-container
 {
   @include outer-container;
   position: relative;
 }

.header
 {
   position: relative;
   background: url('../../public/assets/images/banner2.jpeg') no-repeat center center fixed;
   background-size: cover;
   height: 635px;
 }

.overlay {
  background: rgba(33, 33, 33, .3);
  position: absolute;
  height: 100%;
  width: 100%;
}

.header-title
 {
    text-align: center;
    font-family: 'Josefin Slab';
}

.links,
{
  box-shadow: none;
  color: white;
  text-shadow: $text-shadow;
  font-size: 2rem;
  position: absolute;
  width: 100%;

}
.link{
  box-shadow: none;
  color: white;
  text-shadow: $text-shadow;
  font-size: 2rem;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

//menu style
//entrees
.entree-picture
 {
   background: url('../../public/assets/images/pad_thai_shrimp.jpg') no-repeat center center fixed;
   background-size: cover;
   height: 400px;

 }

.entree-title
 {
   position: relative;
   top: 100px;
   text-align: center;
   color: white;
   font-size: 70px;
   text-shadow: $text-shadow;
 }

//starters//

.starters-picture
 {
   background: url('../../public/assets/images/thai-spring-rolls.jpg')no-repeat center center fixed;
   background-size: cover;
   height: 375px;

 }

.starter-title
 {
   position: relative;
   top: 100px;
   text-align: center;
   color: white;
   font-size: 70px;
   text-shadow: $text-shadow;
 }
//
//soups//

.soup-picture
 {
   background: url('../../public/assets/images/tom-kha-gai-2.jpg') no-repeat center center fixed;
   background-size: cover;
   height: 400px;

 }

.soup-title
 {
   position: relative;
   top: 100px;
   text-align: center;
   color: white;
   font-size: 70px;
   text-shadow: $text-shadow;
 }

.menu-list
 {
   @include span-columns(9);


 }

.menu-title
 {
   text-align: center;
 }

.menu-ul
 {
  background-color: #F5F4F4;
 }

.food-title
 {
   text-align: center;
 }

.description
 {
   padding-left: 10px;
 }

.order-button
 {
   padding-left: 10px;
 }

.supersticky
 {
   position: fixed;
  //  float: right;

   top: 0;
   bottom: 0;
   right: 20px;


 }

 .order
{

  @include span-columns(3);
  // @include shift(1);

}
.order-menu
 {
background-color: $order-color;
   border: 1px solid black;
   width: 100%;


 }

.order-title
 {
   text-align: center;

   box-shadow: none;
 }

.order-delete
 {
   font-size: 10px;
   color: red;
 }
